# Template for all settings.  Defaults are commented out with #;

# WiFi to attach to
wifi_ssid = <use your own here>
wifi_passwd = <use your own here>

# MQTT server to connect to
#mqtt_server = mqtt.mosquitto.org
mqtt_server = broker.hivemq.com
mqtt_user =
mqtt_pass =

# MQTT topic prefix. Set this to your own value for isolation.
# On this topic the following sub-topics are used:
#   /effect: board to receive effect  (publish to switch effects on the board)
#   /status: board to report status (subscribe to this topic to receive status updates)
#   /command: board to receive commands (publish to send commands to the board)
topic = sensemakers/xmas/

# Martrix size in NeoPixels
#; pix_columns = 4
#; pix_rows = 3

# The initial effect to show on the LED matrix. Leave out for random
#; initial_effect = {"effect": "cross", "color": "(100,0,0)"}

# Hardware pins
# Pixel pin for the Xioa ESP32S3 with recommeded Micropython
pix_pin = 1
#; i2c_sda = 5
#; i2c_scl = 6

# Pixel pin for the Xioa ESP32C6 with generic ESP32C6 Micropython
#pix_pin = 0
#i2c_sda = 5
#i2c_scl = 6