# Template for all settings.  Defaults are commented out with #;
# Lines starting with # are ignored, as is all text after the first # on a line.


# Logging related settings
# log_level can be INFO, DEBUG etc. INFO is default
# log_to can (SOON) be (a list of) <filename>, MQTT, CONSOLE.  CONSOLE is default.
#; log_level = INFO
#; log_to = CONSOLE


# WiFi networks to attach to. Use a list of ( SSID, PW ) tuples
#; wifi_stations = []


# AP mode SSID and password.  The SSID always has a unique hex number suffix.
#; wifi_ap_pw = xmas-tree
#; wifi_ap_pfx = sense


# MQTT server to connect to, can be authenticaded but not encrypted.
# mqtt_server = test.mosquitto.org
# mqtt_server = broker.hivemq.com
mqtt_server =  broker.emqx.io
#; mqtt_user =
#; mqtt_pass =


# MQTT topic prefix. SET THIS TO YOUR OWN VALUE for isolation.
# On this topic the following sub-topics are used:
#   /effect: board to receive effect  (publish to switch effects on the board)
#   /status: board to report status (subscribe to this topic to receive status updates)
#   /command: board to receive commands (publish to send commands to the board)
main_topic = sense/xmas/


# time offset from UTC in minutes.  60 for CET
#; time_offset = 0
time_offset = 60


# Matrix size in NeoPixels
#; pix_columns = 4
#; pix_rows = 3

# The initial effect to show on the LED matrix. Leave out for random
# Example: initial_effect = {"effect": "cross", "color": "(100,0,0)"}
#; initial_effect=


# Hardware pins
#   Pixel pin for the Xioa ESP32S3 with recommeded Micropython:
#       pix_pin = 1
#       i2c_sda = 5
#       i2c_scl = 6
#   Pixel pin for the Xioa ESP32C6 with generic ESP32C6 Micropython:
#       pix_pin = 0
#       i2c_sda = 5
#       i2c_scl = 6
#; pix_pin = 1
#; i2c_sda = 5
#; i2c_scl = 6